body {
  font-family: Arial, sans-serif;
  background-image: url('../public/images/background.png');
  background-size: 100% auto;
  background-position: center;
  background-attachment: fixed;
  
  
}

h1 {
  text-align: center;
  color: black;
  padding: 50px;
}
